/* App.css */

.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 8px;
}

h1 {
  text-align: center;
}

.message-list {
  margin-top: 20px;
}

.message {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.message span:last-child {
  color: #888;
  font-size: 0.8rem;
}
